@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import '../index.css';


// variables 


$Roboto-Font : "Roboto",
sans-serif;
$OpenSans-Font : "Open Sans",
sans-serif;
$Ralway-Font : "Raleway",
sans-serif;
$White-color : #ffffff;
$Black-color : #000000;